html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	height: 100%;
	padding: 0 4rem;
}
nav {
	height: 5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 4rem;
	border-bottom: 1px solid hsl(60, 1%, 17%);
}
.logo-image {
	width: 100%;
}
.logo-container {
	width: 4rem;
	height: 4rem;
}

.nav-links {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	gap: 1rem;
	align-items: center;
}
